<form action="/viewcar" meethod="post">
  <label for="makeModel">Make/Model: </label>
  <input type="text" name="makeModel" id="makeModel">
  <label for="price">Price: </label>
  <input type="text" name="price" id="price">
  <label for="miles">Miles: </label>
  <input type="text" name="miles" id="miles">
  <button type="submit">Submit</button>
</form>